#logo {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
#logo path {
  fill: var(--accent-color);
}
.App-header,
.header-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header-background {
  height: 5em;
  z-index: 9;
  background-image: linear-gradient(
    to right,
    var(--accent-color),
    rgba(0, 0, 0, 0),
    var(--accent-color)
  );
}
.App-header {
  height: 4.9em;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  font-weight: 800;
}

.App-header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.App-header li {
  margin-left: 1em;
  list-style: none;
}
.App-header a {
  color: var(--font-color);
  text-decoration: none;
}

.nav-button:hover {
  cursor: pointer;
}

a.active-nav-button {
  color: var(--accent-color);
}
.active-nav-button:hover {
  cursor: default;
}
.App-header .icons {
  width: 1.5em;
  height: 1.5em;
}
