.light {
  --bg-color: hsl(20, 10%, 90%);
  --bg-color-80: rgba(255, 255, 255, 0.8);
  --font-color: black;
  --button-font-color: white;
  --accent-color: hsl(180, 80%, 20%);
  --accent-color-light: hsl(180, 80%, 26%);
  --accent-color-lighter: hsl(180, 50%, 32%);
  --theme-gray: darkgray;
  --card-color: rgb(250, 250, 250);
  --card-color: hsl(20, 10%, 84%);
  --shadow: grey;
}
.dark {
  --bg-color: hsl(315, 5%, 10%);
  --bg-color-80: rgba(30, 26, 29, 0.8);
  --font-color: lightgrey;
  --button-font-color: black;
  --accent-color: hsl(17, 80%, 74%);
  --accent-color-light: hsl(17, 80%, 80%);
  --accent-color-lighter: hsl(17, 50%, 86%);
  --theme-gray: lightgray;
  --card-color: hsl(315, 5%, 20%);
  --shadow: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}
.App,
.App-header,
.projects-container,
.contact-container,
.confirmation-container {
  transition: all 1s ease;
}
.App {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}
.accent-color {
  color: var(--accent-color);
}
