:root {
  --bg-color: #1e1a1d;
  --h1-color: #fdfffc;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  min-height: 2500px;
  background: var(--bg-color);
}
.App {
  display: grid;
  position: relative;
  min-height: 100vh;
  scroll-behavior: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.scroll-tip {
  position: absolute;
  place-self: center;
  color: white;
}
.App-header {
  position: fixed;
  width: 100vw;
  min-height: 4em;
  min-width: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
#logo {
  padding: 1em;
}

.landscape-container {
  position: fixed;
  min-height: 100vh;
}

.star-type-1 {
  fill: grey;
  animation: blink1 2s infinite;
}

@keyframes blink1 {
  50% {
    fill: white;
  }
  to {
    fill: grey;
  }
}

.star-type-2 {
  fill: grey;
  animation: blink2 3s infinite;
}

@keyframes blink2 {
  50% {
    fill: white;
  }
  to {
    fill: grey;
  }
}

.star-type-3 {
  fill: grey;
  animation: blink3 4s infinite;
}

@keyframes blink3 {
  50% {
    fill: white;
  }
  to {
    fill: grey;
  }
}
